.container{
    display:flex;
    justify-content:center;
    margin-top:80px;
}

.column{
    padding:20px;
    border-right:4px solid green;
    width:300px;
}

.column:last-child{
    border-right:none;
}

h1{
    font-size:30px;
}

ul{
    list-style:none;
    padding:0;
}